<!--USED TO MOCK SOME DATA -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Faker/3.1.0/faker.js"></script>

<!-- TODO: MAKE A DECENT SEARCH FUNCTION -->
<link rel="import" href="/bower_components/polymer/polymer-element.html">

<link rel="import" href="/includes.html">
<link rel="import" href="/bower_components/byutv-jsonp/byutv-jsonp.html"> 

<dom-module id="dashboard-element">

    <template>

        <style include="custom-styles">

        </style>


        <paper-search-bar query="{{searchQuery}}" hide-filter-button="true">
        </paper-search-bar>
        <br>
        <iron-ajax 
          id="personajax" 
          method='GET'
          url="http://localhost:8080/person/{{searchQuery}}"
          loading="{{loading}}" 
          debounce-duration="1000"
          on-response="handleResponse">
        </iron-ajax>

        <template is="dom-if" if="{{loading}}">
            <paper-spinner active class="horizontal-center"></paper-spinner>
        </template>
        <template is="dom-if" if="{{!loading}}">
            <dom-repeat items="{{searchResults}}">
                <template>
                    <search-result-element cn="[[item.cn]]" department="[[item.department]]" title="[[item.title]]" mobile="[[item.mobile]]">
                    </search-result-element>
                    <br>
                </template>
            </dom-repeat>
        </template>
    </template>

    <script>
        class DashboardElement extends Polymer.Element {
            static get is() { return 'dashboard-element'; }
            static get properties() {
                return {
                    loading: {
                        type: Boolean,
                        value: true
                    },
                    searchQuery: {
                        type: String,
                        reflectToAttribute: true,
                        observer: 'search'
                    },
                    searchResults: {
                        type: Array,
                        reflectToAttribute: true
                    },
                    mockData: {
                        type: Array,
                        reflectToAttribute: true,
                        notify: true,
                        value: []
                    }
                }
            }
            constructor() {
                super();
            }

            ready() {
                super.ready();
                this.removeAttribute('unresolved');

                //MOCK SOME DATA

                for (var i = 0; i < 100; i++) {

                    this.push('mockData', {
                        cn: faker.name.findName(),
                        department: faker.name.jobArea(),
                        title: faker.name.jobType(),
                        mobile: faker.phone.phoneNumber(),
                        id: faker.helpers.replaceSymbols('??##??')
                    });
                }

                console.log(this.mockData);
            }

            search() {
                if (this.searchQuery.length >= 3) {
                    this.loading = true;
                    this.$.personajax.generateRequest();
                    
                }
                else {
                    this.loading = false;
                }
                if (this.searchQuery.length === 0) {
                    this.searchResults = [];
                }
            }

            handleResponse(data) {
                console.log('handleResponse');

                this.searchResults = [];

                for(var i in data.detail.response)
                    this.push('searchResults',data.detail.response[i] );

            }

            hasNumber(item) {
                return /\d/.test(item);
            }



        }
        customElements.define(DashboardElement.is, DashboardElement);
    </script>

</dom-module>